[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = "*"
botocore = "*"
troposphere = "*"
awacs = "*"
PyYAML = "*"
colorlog = "*"

[dev-packages]
commitizen = "*"

[requires]
python_version = "3.6"
