[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
gitchangelog = "*"
pipdeptree = "*"
commitizen = "*"

[packages]
boto3 = "*"
botocore = "*"
troposphere = {extras = ["policy"],version = "*"}
PyYAML = "*"
colorlog = "*"

[requires]
python_version = "3.6"
